body {
  background: linear-gradient(135deg, #213f41, #6d3131);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.user-card {
  position: relative;
  width: 250px;
  height: 350px;
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #2a2a2a;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.145);
  text-align: center;
}

.profile-img {
  width: 110px;
  height: 110px;
  border-radius: 60%;
  border: 1px solid #000000;
  object-fit: cover;
  margin-bottom: 20px;
}

.user-name {
  font-size: 25px;
  margin: 10px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.bio {
  font-size: 15px;
  color: #333333;
  margin: 15px 0 25px;
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #000847;
  color: white;
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 20px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.533);
}

.btn-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

.follow-btn {
  background: #252525;
  color: white;
}

.profile-btn {
  background: #f3f3f3;
  border: 2px solid #444444;
}