body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #f3f3f3;
    color: #000000;
    transition: background 0.3s ease, color 0.3s ease;
}

header {
    text-align: center;
    padding: 20px;
    background: #bbbbbb;
    transition: background 0.3s ease, color 0.3s ease;
}

header h1 {
    margin: 0;
    font-size: 28px;
    color: #000000;
}

.toggle-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #380c0c;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.toggle-btn:hover {
    background-color: #20130fce;
}

.profile-box {
    max-width: 450px;
    margin: 40px auto;
    padding: 25px;
    background: #f5f5f5;
    border-radius: 10px;
    border: 2px solid #000000;
    text-align: center;
    transition: background 0.3s ease, color 0.3s ease;
}

.student-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #000000;
    margin-bottom: 15px;
}

.student-name {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
}

.info {
    font-size: 16px;
    margin: 6px 0;
}

.bio {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.6;
}

footer {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    background: #f0f0f0;
    font-size: 14px;
    transition: background 0.3s ease, color 0.3s ease;
}
