*
{
  margin: 0;
  padding: auto;
}
body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #a5a5a5;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  background-color: #1a0101;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.37);
  text-align: center;
  letter-spacing: 0.5px;
}

h1 {
  text-align: center;
  color: #ffffff;
}

#sampleText {
  font-size: 18px;
  margin: 20px 0;
  padding: 15px 20px;
  line-height: 1.75;
  letter-spacing: 0.5px;
  background-color: #f5f5f5;
  border-radius: 8px;
  cursor: pointer;
  color: ashgray;
  transition: all 0.3s ease;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

button {
  padding: 10px 18px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  border: 2px solid #ffffff;
  background-color: #191e24;
  color: white;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #035461;
}
