body {
  margin: 0;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
nav {
    width: 90% 90% 90% 90%;
    background-color: #320000;       
    display: flex;                 
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
    box-sizing: border-box;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 550px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.logo-img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.logo-text {
    color: white;
    font-size: 25px;
    line-height: 1.2;
}

.nav-links a {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    transition: 0.25s;
}

.nav-links a:hover {
    background-color: #b1dee724;
    border-radius: 3px;
    transform: scale(1.2);
}

.btn-quote {
    padding: 10px 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: #672222;
    border: 2px solid rgb(239, 239, 239);
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
}

.btn-quote:hover {
    color: rgb(1, 26, 29);
    background-color: #ffb4b43f;
    transform: scale(1.15);
}