body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    width: 100%;   
    box-sizing: border-box;
    height: 150px;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 150px;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #121820;
    color: white;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #474e57;
}

#results {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}
