body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  background: #707070;
  line-height: 1.5;
}

header {
  position: sticky;
  top: 0;
  background: #ffffff;
  padding: 15px 25px;
  border-bottom: 1px solid #e3e3e3;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 25px;
  color: #252525;
}


nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

.content {
  margin-top: 30px;
  padding: 25px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}