html,
body
{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 0;
    border: 3px solid #2c080f;
    border-radius: 10px;
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.photo-box {
    width: 50%;
    background-color: #ffffff;
    margin: 20px auto;      
    padding: 20px 0;          
    border: 2px solid #000000; 
    border-radius: 10px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.student-img {
    width: 150px;
    height: 150px;
    border: 1px solid #000000;
    margin-bottom: 10px;
    border-radius: 50%;
    object-position: 50% 20%;
    object-fit: cover;
}

.student-name {
    text-align: center;
    margin-top: 15px;
    font-size: 1.5em;
}

.info {
    text-align: center;
    font-size: 1.1em;
}

.bio {
    margin-top: 15px;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px 0; 
    background-color: #2c080f;
    color: rgb(255, 254, 254);
    margin-top: auto;
    font-size: 1em;
}
