h2
{
   text-align: center;
   margin: auto;
   background-color: beige;
   border: 1px solid black;
}
.text-box1 {
   background-color: rgb(220, 217, 222);
   width: 300px;
   height: 200px;
   border: 2px solid #000;
   padding: 10px;
   margin: 50px auto;
   /* 1. overflow: visible;  
    - Content spills outside the box. */
   /* overflow: visible; */
   /* 2. overflow: hidden;
    - Extra content is cut off, not visible. */
   /* overflow: hidden; */

   /* 3. overflow: scroll;
    - Always shows scrollbars (horizontal + vertical). */
   overflow: scroll;

   /*4. overflow: auto; */
    /* - Scrollbars appear only if content overflows. */
   /* overflow: auto; */
}
