body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #c5f9f4b0;
    margin: 0;
    padding: 20px;
}

.title {
    text-align: center;
    width: auto;
    margin-bottom: 40px;
    color: #000000;
    font-size: 36px;
    font-weight: lighter;
    border: 2px solid #000000;
}

.product-container {
    text-align: center;
}

.product-box {
    display: inline-block;
    width: 250px;
    background-color: #002a2c;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    transition: all 0.3s ease;
    vertical-align: top;
    box-shadow: 0 2px 5px rgba(191, 191, 191, 0.1);
}

.product-box:hover {
    outline: 3px solid #000000;
    outline-offset: 6px;
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.img-wrapper {
    position: relative;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;              
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);  
    transition: transform 0.3s ease;
}

.product-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;            
    border-radius: 15px;
    transition: transform 0.5s ease; 
}

.img-wrapper:hover img {
    transform: scale(1.08);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.874);  
    color: #ffffff;
    text-align: center;
    padding-top: 40px;
    opacity: 0;
    transition: opacity 0.4s ease;
    font-size: 16px;
    border-radius: 15px;
}

.img-wrapper:hover .overlay {
    opacity: 100;
}

.product-box h3 {
    margin: 10px 0;
    color: #fffdd4;
    font-size: 25px;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.product-box p {
    font-size: 15px;
    color: #b9b9b9;
}

.product-box strong {
    display: block;
    margin: 10px 0;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color:#fffdd4;
}

.buy-btn {
    display: inline-block;
    padding: 10px 18px;
    background-color: #90fbff46;
    color: #fff;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 5px;
    transform: scale(1.2);
}

.buy-btn:hover {
    background-color: #012637;
}
