body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    white-space: nowrap;
}
.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #2a2626;
}

.box {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    margin: 5px;
    border: 1px solid #333;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: visible;
    height: auto;
    

}

.sidebar {
    width: 20%;
    background-color: #f2f2f2;
}

.main {
    width: 58%; 
    background-color: #ffffff;
}

.ad {
    width: 20%;
    background-color: #f9e9c8;
}
