body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard {
    text-align: center;
    color: #f0f2f5;
    width: 300px;
    height: 200px;
    padding: 30px 50px;
    background-color: #4b4b4b;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

#clock {
    font-size: 48px;
    font-weight: bold;
    margin-top: 35px;
    color: #d4d4d4;
}
